.table {
	.avatar-group .avatar {
		margin-right: 4px;
	}
	.badge i {
		margin-right: 10px;
	}
}

// CHECKBOX
.switch {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 21px;
	margin-top: 6px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #424ede;
}

input:focus + .slider {
	box-shadow: 0 0 1px #424ede;
}

input:checked + .slider:before {
	transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 2px;
}

.slider.round:before {
	border-radius: 2px;
}
/* Rounded sliders */

// TABLE
.modal {
	position: fixed;
	top: 50% !important;
	transform: translateY(-20%) !important;
}
